


<c-modal #addProgramModal backdrop="static" 
  [visible]="modalVisible" [keyboard]="false" id="addProgramModal"
  (visibleChange)="handleVisibilityModal($event)" scrollable alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Ajouter un moyen de programme</h5>
    <button [cModalToggle]="addProgramModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="fade-in">
      <c-row ngPreserveWhitespaces>
        <c-col class="mb-4" xs="12">
          <c-card>
            <c-card-header>
              <strong>Ajouter un nouveau programme</strong>
            </c-card-header>
            <c-card-body>
              <div class="w-100 img-section">
                <strong>Ajouter des images</strong>
                <app-image-upload  [options]="{}" [images]="[]" (imageLoader)="setImages($event)"></app-image-upload>
              </div>
              <div class="fields-section">
                <form [formGroup]="programFrom">
                  <c-row>
                    <c-col xs="12" sm="12" md="6" lg="6">
                      <div [cFormFloating]="true" class="mb-3">
                        <input cFormControl id="programName" placeholder="Nom du programme" type="text" formControlName="" />
                        <label cLabel for="programName">Nom du programme</label>
                      </div>
                    </c-col>
                    <c-col xs="12" sm="12" md="6" lg="6">
                      <div [cFormFloating]="true" class="mb-3">
                        <input cFormControl id="zone" placeholder="Zone" type="text" />
                        <label cLabel for="zone">Status</label>
                      </div>
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col>
                      <button cButton class="mb-3" color="primary" size="lg">
                        Ajouter
                      </button>
                    </c-col>
                  </c-row>
                </form>
              </div>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="addProgramModal.id" cButton color="secondary">
      Fermer
    </button>
    <button cButton color="primary">Ajouter</button>
  </c-modal-footer>
</c-modal>