<div class="fade-in">
  <c-row ngPreserveWhitespaces>
    <c-col class="mb-4" xs="12">
      <c-card>
        <c-card-header>
          <strong>Ajouter un nouveau programme</strong>
        </c-card-header>
        <c-card-body>
          <form [formGroup]="programFrom" (ngSubmit)="checkFormField()">
            <c-row>
              <c-col xs="12" sm="12" md="6" lg="6">
                <div class="w-100 img-section" id="principalImage">
                  <div *ngIf="allImages?.length == 0 && (name?.dirty || name?.touched)" class="red-color">
                    <p>
                      Veuillez ajouter des images
                    </p>
                  </div>
                  <strong>Ajouter des images</strong>
                  <app-image-upload [options]="{}" [images]="[]" (imageLoader)="setImages($event)"></app-image-upload>
                </div>
              </c-col>

              <c-col xs="12" sm="12" md="6" lg="6">
                <div class="w-100 img-section" id="planImage">
                  <div *ngIf="!planImage && (name?.dirty || name?.touched)" class="red-color">
                      <p>
                        L'image du plan est requise
                      </p>
                  </div>
                  <strong>Image du plan</strong>
                  <app-single-image-upload [options]="{}" [image]="''"
                    (imageLoader)="setPlanImage($event)"></app-single-image-upload>

                </div>
              </c-col>
            </c-row>


            <div class="fields-section">
              <c-row>
                <c-col xs="12" sm="12" md="6" lg="6">
                  <div [cFormFloating]="true" class="mb-3">
                    <input cFormControl id="name" placeholder="Nom du programme" type="text" formControlName="name" />
                    <label cLabel for="programName">Nom du programme</label>
                    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="red-color">
                      <div *ngIf="name?.errors?.['required']">
                        Le nom est requis
                      </div>
                      <div *ngIf="name?.errors?.['minlength']">
                        Il faut 4 caractères au minimum
                      </div>
                    </div>
                  </div>
                </c-col>
                <!-- <c-col xs="12" sm="12" md="6" lg="6">
                  <div [cFormFloating]="true" class="mb-3">
                    <input
                      cFormControl
                      id="location"
                      placeholder="Zone"
                      type="text"
                      formControlName="location"
                    />
                    <label cLabel for="location">Zone</label>
                    <div
                      *ngIf="
                        location?.invalid &&
                        (location?.dirty || location?.touched)
                      "
                      class="red-color"
                    >
                      <div *ngIf="location?.errors?.['required']">
                        La zone est requise
                      </div>
                    </div>
                  </div>
                </c-col>
                <c-col xs="12" sm="12" md="6" lg="6">
                  <div [cFormFloating]="true" class="mb-3">
                    <input
                      cFormControl
                      id="lat"
                      placeholder="Lattitude"
                      type="number"
                      formControlName="lat"
                    />
                    <label cLabel for="lat">Lattitude</label>
                    <div
                      *ngIf="lat?.invalid && (lat?.dirty || lat?.touched)"
                      class="red-color"
                    >
                      <div *ngIf="lat?.errors?.['required']">
                        La Lattitude est requise
                      </div>
                    </div>
                  </div>
                </c-col>
                <c-col xs="12" sm="12" md="6" lg="6">
                  <div [cFormFloating]="true" class="mb-3">
                    <input
                      cFormControl
                      id="lng"
                      placeholder="Longitude"
                      type="number"
                      formControlName="lng"
                    />
                    <label cLabel for="lng">Longitude</label>
                    <div
                      *ngIf="lng?.invalid && (lng?.dirty || lng?.touched)"
                      class="red-color"
                    >
                      <div *ngIf="lng?.errors?.['required']">
                        La longitude est requise
                      </div>
                    </div>
                  </div>
                </c-col> -->

                <c-col xs="12" sm="12" md="6" lg="6">
                  <div [cFormFloating]="true" class="mb-3">
                    <input cFormControl id="property_no" placeholder="Nombre de propriétés disponible " type="number"
                      formControlName="property_no" />
                    <label cLabel for="solde">Nombre de propriétés disponible</label>
                    <div *ngIf="property_no?.invalid && (property_no?.dirty || property_no?.touched)" class="red-color">
                      <div *ngIf="property_no?.errors?.['required']">
                        Le nombre de propriétés est requis
                      </div>
                    </div>
                  </div>
                </c-col>

                <c-col xs="12" sm="12" md="6" lg="6">
                  <select aria-label="Type" cSelect class="mb-3 form-select" sizing="lg" formControlName="projet">
                    <option [value]="null">
                      Projet <span class="red-color">*</span>
                    </option>
                    <option value="dias-safi">Dias SAFI</option>
                  </select>
                </c-col>
                <c-col size="12" xs="12" sm="12" md="12" lg="12">
                  <div class="mb-4 mt-3">
                    <strong class="mb-3">Description <span class="red-color">*</span></strong>
                  </div>
                  <editor [init]="{
                      base_url: '/tinymce',
                      suffix: '.min'
                    }" formControlName="description"></editor>
                  <div *ngIf="
                      (description?.invalid && description?.dirty) ||
                      description?.touched
                    " class="red-color">
                    <div *ngIf="description?.errors?.['required']">
                      La description est requise
                    </div>
                  </div>
                </c-col>
              </c-row>
              <c-row class="text-center d-flex gap-30 justify-center mt-4">
                <button cButton class="mb-3 white-color add-btn" color="primary" size="lg" type="submit">
                  Ajouter
                </button>

                <button cButton class="mb-3 white-color close-btn" color="primary" size="lg" type="reset">
                  Retour
                </button>
              </c-row>
            </div>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
