.banner{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
c-card{
    height: 400px;
}
.bg-img{
    background-image: url("../../../../assets/images/hero/city-2.jpg");
    object-fit: cover;
    background-size: 100% 100%;
}
.login-btn
{
  color: #fff;
  height: 45px;
  font-size: 20px;
}
