.banner{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
c-card{
    height: 400px;
}
.bg-img{
    background-image: url("../../../../assets/images/hero/city-2.jpg");
    object-fit: cover;
    background-size: 100% 100%;
}