<div class="fade-in">
  <c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header class="d-flex justify-between">
          <label>Liste des <strong> Programmes </strong></label> 
          <button cButton color="primary"  class="float right">
            <fa-icon [icon]="faPlus" class="white-c" (click)="toggleAddModal()"></fa-icon>
          </button>
        </c-card-header>
        <c-card-body>
          
            <table [bordered]="true" cTable>
              <thead>
              <tr>
                <th scope="col">Miniature</th>
                <th scope="col">Nom</th>
                <th scope="col">Statut</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <img src="../../../../assets/img/avatars/1.jpg" width="40" alt="" class="rounded">
                  </th>
                  <td>
                    Programme  villes neuves
                  </td>
                 
                  <td>
                    <c-badge color="danger">Suspendu</c-badge>
                  </td>
                  <td>
                    <c-button-group aria-label="Actions" role="group" class="actions">
                      <button cButton color="primary">
                        <fa-icon [icon]="faEye"></fa-icon>
                      </button>
                      <button cButton color="danger">
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </button>
                    </c-button-group>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <img src="../../../../assets/img/avatars/1.jpg" width="40" alt="" class="rounded">
                  </th>
                  <td>
                    Programme  villes neuves
                  </td>
                 
                  <td>
                    <c-badge color="danger">Suspendu</c-badge>
                  </td>
                  <td>
                    <c-button-group aria-label="Actions" role="group" class="actions">
                      <button cButton color="primary">
                        <fa-icon [icon]="faEye"></fa-icon>
                      </button>
                      <button cButton color="danger">
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </button>
                    </c-button-group>
                  </td>
                </tr>
              
             </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>

<c-modal #addProgramModal backdrop="static" 
  [visible]="modalVisible" [keyboard]="false" id="addProgramModal"
  (visibleChange)="toggleModalVisibility($event)" scrollable alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Ajouter un moyen de programme</h5>
    <button [cModalToggle]="addProgramModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="fade-in">
      <c-row ngPreserveWhitespaces>
        <c-col class="mb-4" xs="12">
          <c-card>
            <c-card-body>
              <div class="w-100 img-section">
                <strong>Ajouter des images</strong>
                <app-image-upload  [options]="{}" [images]="[]" (imageLoader)="setImages($event)"></app-image-upload>
              </div>
              <div class="fields-section">
                <form [formGroup]="programFrom">
                  <c-row>
                    <c-col xs="12" sm="12" md="12" lg="12">
                      <div [cFormFloating]="true" class="mb-3">
                        <input cFormControl id="programName" placeholder="Nom du programme" type="text" formControlName="name" />
                        <label cLabel for="programName">Nom du programme</label>
                      </div>
                    </c-col>
                    <c-col xs="12" sm="12" md="12" lg="12">
                      <div [cFormFloating]="true" class="mb-3">
                        <input cFormControl id="zone" placeholder="Zone" type="text" formControlName="zone" />
                        <label cLabel for="zone">Zone</label>
                      </div>
                    </c-col>
                    <!-- <c-col xs="12" sm="12" md="6" lg="6">
                      <div [cFormFloating]="true" class="mb-3">
                        <input cFormControl id="zone" placeholder="Zone" type="text"  />
                        <label cLabel for="zone">Status</label>
                      </div>
                    </c-col> -->
                  </c-row>
                </form>
              </div>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="addProgramModal.id" cButton color="warning">
      Fermer
    </button>
    <button cButton color="primary" size="lg">Ajouter</button>
  </c-modal-footer>
</c-modal>

