<div class="fade-in">
  <c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header class="d-flex justify-between">
          <label>Liste des <strong> Transactions </strong></label>
        </c-card-header>
        <c-card-body>

            <table [bordered]="true" cTable>
              <thead>
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Date</th>
                <th scope="col">Montant</th>
                <th scope="col">Opérateur</th>
                <th scope="col">Statut</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trx of transactions">
                  <th scope="row">
                    {{trx?.client_account?.user?.first_name}} - {{trx?.client_account?.user?.last_name}}
                  </th>
                  <td>
                    {{trx?.created_at | date:'dd/MM/yyy HH:mm'}}
                  </td>
                  <td>
                    {{trx?.amount}} FCFA
                  </td>

                  <td>
                    {{trx?.operator}}
                  </td>
                  <td>
                    <c-badge color="warning" *ngIf="trx.status == 'inprogress'">En cours</c-badge>
                    <c-badge color="success" *ngIf="trx.status == 'success'">Validé</c-badge>
                  </td>
                  <td>
                    <c-button-group aria-label="Actions" role="group" class="actions">
                      <button cButton color="primary">
                        <fa-icon [icon]="faEye"></fa-icon>
                      </button>
                    </c-button-group>
                  </td>
                </tr>

             </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
