// Here you can add other styles
.float.right{
    float: right;
}
.white-c{
    color: #fff;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
    align-items: center;
}
.form-select{
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding: 1rem 0.75rem;
    font-size: 1rem;
}
.red-color{
    color: rgb(219, 11, 11);;
}
.tox-promotion,
.tox-statusbar__right-container{
    display: none !important;
}
.main-btn{
    width: 150px;
    margin-left: 20px;
    color: #fff;
}

/* CSS */
.add-btn,
.close-btn {
  width: 180px;
  appearance: none;
  backface-visibility: hidden;
  
  border-radius: 8px;
  border-style: none;
  
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  &:hover{
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
}
.add-btn{
    background-color: #27ae60;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
}
.close-btn{
    background-color: #a11212;
}
.close-btn:hover{
    background-color: #7a1919;
}
.add-btn:hover {
  background-color: #1e8449;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.add-btn:active {
  transform: translateY(2px);
  transition-duration: .35s;
}


.gap-30{
    gap: 30px;
} 
.justify-center{
    justify-content: center;
}
.h-100{
    height: 100% !important;
}

