<div class="fade-in">
  <c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Liste des </strong> <small>propriétés</small>
          <button cButton color="primary"  class="float right" (click)="openAddNewProperty()">
            <fa-icon [icon]="faPlus" class="white-c" ></fa-icon>
          </button>
        </c-card-header>
        <c-card-body>
          
            <table [bordered]="true" cTable>
              <thead>
              <tr>
                <th scope="col">Miniature</th>
                <th scope="col">Numero Maison</th>
                <th scope="col">Superficie</th>
                <th scope="col">Prix</th>
                <th scope="col">Beneficiaire</th>
                <th scope="col">Statut</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prop of properties; let i = index">
                  <th scope="row">
                    <img [src]="prop?.main_image" width="60" alt="" class="rounded">
                  </th>
                  <td>
                    Numero {{prop?.property_number}}
                  </td>
                  <td>
                    {{prop.area}} m<sup>2</sup>
                  </td>
                  <td>
                    {{prop.price}} FCFA
                  </td>
                  <td>
                   <b>Aliou THIEMA</b>
                  </td>
                  <td>
                    <c-badge color="success">Construction termine</c-badge>
                  </td>
                  <td>
                    <c-button-group aria-label="Actions" role="group" class="actions">
                      <button cButton color="primary" (click)="toggleDetailsModal({id: 2})">
                        <fa-icon [icon]="faEye"></fa-icon>
                      </button>
                      <button cButton color="danger">
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </button>
                    </c-button-group>
                  </td>
                </tr>
              
             </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
